footer {
    margin-top: 114px;
}

.footer {
    display: flex;
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 150px;
    p {
        margin-right: 65px;
    }
}