<div class="header__bg">
    <div class="container">
        <div class="header__nav">
            <img class="logo" src="../assets/images/logo.svg" alt="">
            <ul class="menu">
                <li><a href="">home</a> </li>
                <li><a href="">about</a> </li>
                <li><a href="">tickets</a> </li>
                <li><a href="">contacts</a> </li>
            </ul>
            <div class="register" data-modal="register-modal">SIGN IN</div>
            <div class="tel">+1 893 839-23-64</div>
        </div>
        <div class="header__title">
            <p>Not tne event. The life</p>
            <h1>Burning MAN</h1>
            <a href="#" data-modal="register-modal">Book the tickets</a>
        </div>
    </div>
</div>