<div class="modal " id="register-modal">
    <div class="modal__content">
        <form class="form form--register" action="">
            <div class="form__group">
                <input type="text" class="form__control" placeholder="Ваше ФИО">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="email" class="form__control" placeholder="Ваш   e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <textarea class="textarea" name="textarea" type="textarea" name="post-text" placeholder="Почему вы хотели бы посетить фестиваль ?" data-autoresize></textarea>
                <!-- <input type="text" class="form__control" placeholder="Почему вы хотели бы посетить фестиваль?"> -->
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <div class="form__group form__group--mb">
                    <button class="btn btn--rounded" type="submit">Отправить</button>
                </div>
            </div>
        </form>

        <button class="modal__close">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>


    </div> <!-- modal__content -->
</div> <!-- modal -->